.section {
    padding-block: 84px 124px;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 12px 38px;
    border: 1px solid #3470ff;
    border-radius: 12px;
    background-color: transparent;
    color: #101828;
    font-weight: var(--font-weight-semibold);
    transition: border var(--transition);

    &:hover,
    &:focus {
        border: 1px solid #0b44cd;
    }
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.warnings {
    display: flex;
    justify-content: center;

    font-weight: var(--font-weight-bold);
    font-size: 30px;
    line-height: 1.2;
    color: #8d929a;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.2s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}