.sectionDetails {
    padding-top: 84px;
    padding-bottom: 104px;
}

.imageWrapper {
    position: relative;
}

.image {
    border-radius: 19px;
    width: 640px;
    height: 512px;
    object-fit: cover;
    margin-bottom: 40px;
}

.favoriteButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
}

.wrapper {
    display: flex;
    gap: 72px;
}

.rigthColumn {
    max-width: 488px;
    padding-top: 20px;
}

.leftColumn {
    max-width: 640px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}