.heroSection {
    padding-block: 436px 60px;
    background-image:linear-gradient(rgba(16, 24, 40, 0.2),rgba(16, 24, 40, 0.2)), url(/images/hero@2x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin: 0 auto 16px;
}

.text {
    font-weight: var(--font-weight-semibold);
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    margin: 0 auto 40px;
    color: #fff;
}

.btn {    
    display: block;
    margin: 0 auto;
    font-weight: var(--font-weight-semibold);
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 12px 88px;
    background-color: var(--color-accent-first);
    max-width: 276px;
    
    transition: background-color var(--transition);
    &:hover, &:focus {background-color: var(--color-accent-second);}
}